<div class="row card top-padding">
   <div class="form-responsive row">
      <div class="six columns">
         <div class="field">
            <h1>Customer Details</h1>
         </div>

      </div>
   </div>
   <div class="form-responsive row top-padding">
      <div class="six columns">
         <div class="field">
            <label for="custName">Customer Name</label>
            <input id="custName" [(ngModel)]="customerName" />
         </div>
      </div>
      <div class="six columns">
         <div class="field">
            <label for="custPhone">Customer Phone</label>
            <input id="custPhone" [(ngModel)]="customerPhone" />
         </div>
      </div>
   </div>

   <div class="form-responsive row">
      <div class="six columns">
         <div class="field">
            <label for="custAddress">Customer Address</label>
            <input id="custAddress" [(ngModel)]="customerAddress" />
         </div>
      </div>

      <div class="six columns">
         <div class="field">
            <label for="custEmail">Customer Email</label>
            <input id="custEmail" [(ngModel)]="customerEmail" />
         </div>
      </div>
   </div>
   <div class="form-responsive row">
      <div class="six columns">
         <button soho-button="primary" (click)="loadCustomer()">Load</button>
      </div>
   </div>


</div>
